.film-details-filter {
  width: 100%;
  height: 2.6rem;
  border-bottom: 1px solid $grey;

  .film-details-filter__box {
    margin: 0;
    margin-bottom: -1px;
    border-bottom: 1px solid $grey;
    color: $grey;

    .film-details-filter__icon {
      margin-top: 0.8rem;
      margin-right: 5px;
      font-size: 0.9rem;
    }

    .film-details-filter__variety {
      margin: 0;
      font-size: 0.9rem;
      font-weight: 700;
      line-height: 2.6rem;
      text-align: center;
    }
  }

  .film-details-filter__box-selected {
    border-bottom: 4px solid $accent-color-2;

    .film-details-filter__icon {
      color: $accent-color-2;
    }
  }
}

@include media-breakpoint-up(md) {
  .film-details-filter {
    width: $app-width-small;
    margin: auto;
    margin-top: 2.4rem;

    .film-details-filter__box:hover {
      cursor: pointer;
    }
  }
}
