.header-search {
  position: relative;
  overflow-x: visible;
  overflow-y: hidden;
  width: 100%;
  height: 100%;

  ::-webkit-input-placeholder { /* Chrome */
    color: rgba($accent-color-5, 0.8);
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba($accent-color-5, 0.8);
    opacity: 1;
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: rgba($accent-color-5, 0.8);
  }

  :-moz-placeholder { /* Firefox 4 - 18 */
    color: rgba($accent-color-5, 0.8);
    opacity: 1;
  }
}

.header-search__input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.8rem 0.8rem 0.2rem 1.8rem;
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  border: 0;
  border-bottom: 2px solid rgba($accent-color-5, 0.3);
  color: $accent-color-5;
  background-color: transparent;
}

.header-search__input-desktop {
  input {
    padding-right: 2.3rem;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  label {
    display: none;
  }
}

.header-search__search-icon {
  position: absolute;
  left: 0;
  color: rgba($accent-color-5, 0.3);
}

.header-search__input-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: $accent-color-2;
  transform: translate(-100%, 0);
  transition: transform 0.15s linear;
}

.header-search__input-border--visible {
  transform: none;
}

.header-search__remove-text-box {
  position: absolute;
  right: 0.8rem;
}

.header-search__remove-icon {
  display: flex;
  font-size: 1.1rem;
  color: $accent-color-5;
  cursor: pointer;
}
