.material-input {
  position: relative;
  border: 1px solid transparent;
  transition: border-color 0.2s linear;
}

.material-input__label {
  position: absolute;
  top: 50%;
  left: 0.3rem;
  color: $grey-lighter;
  pointer-events: none;
  transform: translate(0, -50%);
  transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;
}

.material-input__border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  background-color: $accent-color-2;
  transform: translate(-50%, 0);
  transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;
}

.material-input__input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.6rem 0.6rem 0.6rem 0.3rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: $grey;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus ~ .material-input__label,
  &.material-input__input--not-empty ~ .material-input__label {
    font-size: 0.95rem;
    font-weight: 500;
    color: $grey;
    transform: translate(0, -2.2rem);
  }

  &:focus ~ .material-input__border {
    width: 100%;
  }
}

.material-input__warning-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  font-weight: 300;
  color: red;
  opacity: 0;
  transform: translate(0, -50%);
  transition: opacity 0.2s linear;
}

.material-input__warning-icon--visible {
  opacity: 1;
}

.material-input__show-password-button {
  position: absolute;
  top: 50%;
  right: 0.3rem;
  color: $accent-color-2;
  transform: translate(0, -50%);
  cursor: pointer;
}
