/**
 * Colors
 */
$accent-color-1:                 #ff5e5b;
$accent-color-2:                 #38d8d5;
$accent-color-3:                 #ffe100;
$accent-color-4:                 #e5ebea;
$accent-color-5:                 #fff;
$grey:                           #454545;
$grey-light:                     #595959;
$grey-lighter:                   #adadad;

/**
 * Transitions
 */
$transition-faster-time:         0.1s;
$transition-fast-time:           0.25s;
$transition-default-time:        0.4s;
$transition-slow-time:           0.6s;

$transition-timing:              cubic-bezier(0.215, 0.61, 0.355, 1);

$transition-faster:              $transition-faster-time $transition-timing;
$transition-fast:                $transition-fast-time $transition-timing;
$transition-default:             $transition-default-time $transition-timing;
$transition-slow:                $transition-slow-time $transition-timing;

/**
 * Z-index
 */
$z-index-header:                 5;
$z-index-footer:                 5;
$z-index-loading:                999;
$z-index-menu:                   2;
$z-index-modals:                 14;
$z-index-notifications:          13;

/**
 * Format
 */
$app-width:                      1600px;
$app-width-small:                700px;
