.movie-theaters {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 28rem;
  margin: 1rem auto 4rem;
  flex-direction: column;
  justify-content: center;
}

.movie-theaters__box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 14rem;
  margin: 1.3rem 1.5rem 1.3rem 0;
  box-shadow: 0 1px 5px rgba(100, 100, 100, 0.49);
}

.movie-theaters__box-image {
  height: 10rem;
  background-position: center;
  background-size: cover;
  transition: 0.3s ease all;
  will-change: transform;
}

.movie-theaters__box-name {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
  border-top: 5px solid $accent-color-2;
  color: $grey;
  background-color: $accent-color-5;
}

@include media-breakpoint-up(md) {
  .movie-theaters {
    max-width: initial;
    padding: 2rem 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .movie-theaters__box {
    max-width: 20rem;
    cursor: pointer;

    &:hover > .movie-theaters__box-image {
      transform: scale(1.2);
    }
  }
}
