@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "variables";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  background: $accent-color-4;
}

button {
  padding: 0;
  font: inherit;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.app_container {
  flex-grow: 1;
  display: flex;
}

@import "film.details";
@import "film.details.filter";
@import "film.details.group";
@import "film.details.group.seance";
@import "header.mobile";
@import "header.desktop";
@import "header.search";
@import "footer";
@import "movie.theaters";
@import "transitions";
@import "modals";
@import "material.input";
@import "logo";
