.err {
  position: relative;
  height: 100vh;
  background-color: $accent-color-5;

  .err__container {
    min-height: 2.5rem;
    padding-top: 1.575rem;

    .err__container-top {
      .err__title {
        margin: 0 0 0.625rem 0;
        font-size: 6rem;
        letter-spacing: 2px;
        text-align: center;
        color: $accent-color-1;
      }

      .err__info {
        margin: 0 0.625rem 0 0;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        color: $accent-color-1;
      }
    }

    .err__division {
      width: 8.125rem;
      height: 4px;
      margin: 2.5rem auto;
      border: none;
      background-color: $accent-color-2;
    }

    .err__container-bottom {
      .err__link {
        margin: 0 0 1.25rem 0;
        font-size: 0.9rem;
        letter-spacing: 1px;
        text-align: center;
        color: $accent-color-1;

        .err__link-section {
          font-weight: 700;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .err {
    .err__container {
      width: 19rem;
      margin: auto;
      padding-top: 4.6rem;

      .err__container-top {
        .err__title {
          font-size: 8rem;
        }

        .err__info {
          font-size: 1.6rem;
        }
      }

      .err__division {
        width: 11.125rem;
        margin: 3.75rem auto;
      }

      .err__container-bottom {
        .err__link {
          margin: 0 0 1.375rem 0;
          font-size: 1.1rem;
        }

        .err__link:hover,
        .err__link:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
