.header-mobile {
  position: relative;
  z-index: $z-index-header;
  overflow: hidden;
  width: 100vw;
  height: 3.1rem;
  font-size: 1.4rem;
  color: $accent-color-5;
  background-color: $accent-color-1;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
}

.header-mobile__content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.1rem;
  transform: translate(0, 101%);
  transition: transform 0.2s linear;

  &--visible {
    transform: translate(0, 0);
  }
}

.header-mobile__logo-box {
  padding-left: 1rem;
}

.header-mobile__search-box {
  margin: 0 1rem;
}

.header-mobile__filter-box {
  position: relative;
  width: 2rem;
  margin: 0 0 0 auto;
  margin-left: auto;
}

.header-mobile__filter-box--active::after {
  position: absolute;
  top: 10px;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  content: '';
  background-color: $accent-color-3;
}

.header-mobile__filter-icon-big {
  font-size: 2rem;
}

.header-mobile__search-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.1rem;
  transform: translate(0, -101%);
  transition: transform 0.3s ease;

  &--visible {
    transform: translate(0, 0);
  }
}

.header-mobile__search-input {
  padding: 0.3rem 0 0.3rem 0.5rem;
  flex-grow: 1;
}

.header-mobile__search-close-icon {
  padding: 0 1rem;
  font-size: 1.8rem;
  flex-grow: 0;
}
