.login-page {
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page__box {
  position: relative;
  width: 70%;
  max-width: 20rem;
  padding: 3.2rem 1.5rem 2rem;
  background-color: $accent-color-4;
}

.login-page__logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 50%;
  background-color: $accent-color-2;
  transform: translate(-50%, -50%);
}

.login-page__logo-icon {
  font-size: 2.4rem;
  color: $accent-color-5;
}

.login-page__error {
  min-height: 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: $accent-color-1;
}

.login-page__error-icon {
  margin-right: 0.3rem;
}

.login-page__inputs {
  margin: 2rem 0 2.5rem 0;
}

.login-page__input {
  margin-top: 2rem;

  input {
    font-size: 1rem;
  }

  input:focus ~ .material-input__label,
  input.material-input__input--not-empty ~ .material-input__label {
    transform: translate(0, -2.8rem);
  }

  label {
    font-size: 1rem;
    font-weight: 500;
    color: $grey-light;
  }
}

.login-page__password-remind {
  display: inline-block; // Size of the content
  float: right;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: $accent-color-1;

  &::after {
    clear: both;
    content: '';
  }
}

.login-page__submit {
  width: 100%;
  height: 2.3rem;
  font-size: 1rem;
  color: $accent-color-5;
  background-color: $accent-color-1;
  transition: opacity 0.25s ease-out;

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}

.login-page__register-title {
  margin-top: 2.2rem;
  font-size: 0.8rem;
  text-align: center;
  color: $grey-lighter;
}

.login-page__register-link {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
  color: $accent-color-1;
}

@include media-breakpoint-up(md) {
  .login-page {
    background-image: url('../images/bg-desktop.jpeg');
  }
}
