.fade-in-enter {
  opacity: 1;
  transition: $transition-default;

  &.fade-in-enter--active {
    opacity: 0;
  }
}

.fade-in-exit {
  display: none;
  opacity: 0;
  transition: $transition-default;
}
