.user-page {
  width: 100%;
  padding: 1.5rem 0;
}

.user-page__title-section {
  max-width: 20rem;
  margin: 2rem auto;
  font-size: 1.2rem;
  font-weight: 700;
  color: $grey;
}

.user-page__button-section {
  max-width: 20rem;
  margin: 2rem auto;
  box-shadow: 0 1px 5px rgba(100, 100, 100, 0.49);
  user-select: none;
  cursor: pointer;
}

.user-page__button-icon {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.3rem;
  color: white;
  background-color: $accent-color-1;
}

.user-page__button-text {
  height: 3.5rem;
  color: $grey;
  background-color: white;
  flex-grow: 1;
}

.user-page__logout-button {
  max-width: 20rem;
  height: 3.5rem;
  margin: 3rem auto 2rem;
  font-weight: s700;
  color: white;
  background-color: $accent-color-1;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
  user-select: none;
  cursor: pointer;
}
